@model OnboadingTask.Models.ProductSold

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <div class="container">


        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();" style="border:none">
            Add New Sale Record
        </a>

        <table id="tblStudent" class="table">
            <thead>
                <tr>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Store Name
                    </th>
                    <th>
                        DateSold
                    </th>
                    <th>
                        Action(Edit)
                    </th>
                    <th>
                        Action(Delete)
                    </th>
</thead>
            <tbody class="tbody"></tbody>


        </table>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon"></span>Sale</h4>
                    </div>
                    <div class="modal-body" style="padding:40px;">
                        <form role="form">
                           
                            <div class="form-group">
                                <label for="CustomerName">Customer Name</label>
                                <select type="text" class="form-control" id="CustomerName" placeholder="Customer Name" data-bind='value: txtCustomerName'/>
                                <p>   <span class="" data-bind="validationMessage: test"></span></p>

                            </div>

                            <div class="form-group ">
                                <label for="ProductName">Product Name</label>
                                <select type="text" class="form-control" id="ProductName" placeholder="Product Name" data-bind='value: txtProductName'/>

                            </div>
                            <div class="form-group">
                                <label for="StoreName">Store Name</label>
                                <select type="text" class="form-control" id="StoreName" placeholder="Store Name" data-bind='value: txtStoreName'/>

                            </div>
                            <div class="form-group ui-datepicker">
                                <label for="DateSold">Date </label>
                                <input type="text" class="form-control" id="DateSold" placeholder="Date Sold" data-bind='value: txtDateSold'>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bind="click:Add" value="Add" id="btnAdd" onclick="return Add();">Add</button>
                                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="~/Scripts/ProductSold.js"></script>
</body>.
</html>
.